@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* ========== Common CSS Ended ========== */

/* ========== Nav Section Started ========== */

nav{
    height: 80px;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
}

.logo{
    width: 160px;
}

.nav__links{
    display: flex;
}

.nav__link{
    margin-left: 16px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    color: #7342d6;
    transition: all ease 350ms;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--primary{
    border: 2px solid #7342d6;
    border-radius: 5px;
}

.nav__link--primary:hover{
    text-decoration: none;
}

/* ========== Nav Section Ended ========== */